/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}


body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}




@keyframes rotation {
    from {
        transform: rotateZ(50deg);
        
    }

    to {
        transform: rotateZ(0deg);
    }

}

@keyframes rotation-2 {
    from {
        transform: rotateZ(-50deg);
    }

    to {
        transform: rotateZ(0deg);
    }
}

#fondo-negro{
    position:relative;
    
    background-color:black;
    width:100%;
    height:500px;
}

#calaquita {
    width:auto;
    height:50px;
    position:absolute;
    top:100px;
    left:0;
    
}

.animacion-calaveras {
    animation-name: rotation;
    animation-duration: 10s;
}

.animacion-calaveras2 {
    animation-name: rotation-2;
    animation-duration: 10s;
}

#calaquita2 {
    width: auto;
    height: 50px;
    position: absolute;
    top: 100px;
    right: 0;
    
}
#cala {
    /*            position:absolute;*/
    margin-left: auto;
    margin-right: auto;
    /*left:0;
            right:0; */
    animation-name: rotation;
    animation-duration: 100s;
}

.social-network {
    padding: 50px;
}


.footer .social-network img {
    height: auto;
    width: 34px;
}

.animate {
    transition: 4s ease-in-out;
    -moz-transition: 4s ease-in-out;
    -webkit-transform: 4s ease-in-out;
}

.mobile-mov {
    display: none;
}

.ubication:hover {
    transform: scale(1.1);
}

.divaboutus {
    position: relative;
    top: 10%;
    margin-top: 34%;
}

.mailmora:hover {
    color: gray;
}


.menu-fixed-scroll {
    width: 100%;
    padding-left: 0;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
}

.container-three-ubication div {
    width: 33%;
    margin: 0 auto;
    text-align: center;
}

.container-three-ubication img {
    width: 15%;
    height: auto;
    margin-bottom: 10px;
}

.container-maquinaflota {
    position: absolute;
    width: 14%;
    height: 41%;
}

.aparece {
    opacity: 0;
    transition: all 0.5s;
}

.porfolio-menu {
    text-align: center;
    padding: 25px;
}

    .porfolio-menu ul li {
        display: inline-block;
        margin: 0;
        list-style: none;
        padding: 10px 15px;
        cursor: pointer;
        border: 1px solid gold;
        -webkit-transition: all .5 ease;
        -moz-transition: all .5 ease;
        -o-transition: all .5 ease;
        -webkit-transition: all .5 ease;
        transition: all .5 ease;
    }

        .porfolio-menu ul li:hover {
            background: black;
            color: white;
        }

.porfolio-item {
    width: 100%;
    height: 1840px;
    overflow: hidden;
}

    .porfolio-item .item {
        /*width: 303px;*/
        float: left;
        margin-bottom: 10px;
        width: 25%;
        transition: transform 400ms ease, opacity 200ms ease;
        opacity: 1;
    }

        .porfolio-item .item img {
            /*width: 300px;*/
            width: calc(100% - 10px);
            height: auto;
            margin: 0 auto;
            /*margin: 0px 25%;*/
        }

.item:hover {
    transform: scale(1.2) rotate(10deg); /*cuando nos posicionamos sobre la imagen con esta propiedad aumentamos su escala y ademas la giramos*/
    opacity: 0.9;
    z-index: 9999;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
    opacity: 0.5;
}

.video-player {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

    .video-player video {
        height: auto;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

.loguito-head {
    color: #eac80f;
}

.banner-container-cajita .banner-bajada {
    color: #eac80f;
    font-size: 30px;
    padding: 10px 0px
}

.banner-container-cajita .banner-bajada2 {
    //color: gold;
    font-size: 52px;
}

.artist-marmol {
    padding: 20px 10px;
    height: 80%;
/*    background-image: url(imagenes/fondo-calavera-2.jpg);*/
    /*url(imagenes/fondo-real-mati.jpg)*/
    background-size: cover;
    background-position: center center;
    /*animation-name: rotation;
    animation-duration: 100s;*/
}

.artist-description {
    background-color: white;
    position: absolute;
    left: 41%;
    top: 70%;
    width: 200px;
    border-radius: 5px;
}

.artist-container {
    position: relative;
}

    .artist-container img {
        margin-top: 300px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        /*width: 40%;*/
        height: 225px;
        border-radius: 5px;
    }

.ubication {
    background-image: url("imagenes/ubicacion-2.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    transition: transform 400ms ease, opacity 200ms ease;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-gral {
    padding: 40px 0 60px;
}

.path {
    transition: 1s;
}

.footer {
    display: flex;
    align-items: center;
    height: 180px;
    width: 100%;
    background-color: #212121;
}

    .footer p {
        color: white;
        margin: 10px auto;
    }

    .footer img {
        margin-left: 20px;
        height: 100%;
    }

.container-inside-three {
    width: 30%;
    text-align: center;
}

.container-inside-two {
    width: 50%;
    text-align: center;
}

.artist-img-2 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.container-inside-four {
    width: 25%;
    text-align: center;
}

    .container-inside-four h2 {
        font-size: 24px;
        padding: 15px 10px;
    }

    .container-inside-four p {
        font-size: 14px;
        width: 100%;
        padding: 19px 44px;
    }

.maquina-ico {
    margin: auto auto;
    background-image: url("imagenes/matias-tattoo-7.jpg");
    width: 100px;
    background-size: cover;
    height: 100px;
}

.pircing-ico {
    margin: auto auto;
    background-image: url("imagenes/pircing-real-ico.jpg");
    width: 100px;
    background-size: cover;
    height: 100px;
}

.cover-ico {
    margin: auto auto;
    background-image: url("imagenes/tinta-real.jpg");
    width: 61px;
    background-size: cover;
    height: 109px;
}

.desing-ico {
    margin: auto auto;
    background-image: url("imagenes/desing-ico.png");
    width: 100px;
    background-size: cover;
    height: 100px;
}

.image-gallery {
    background-image: url("imagenes/banner.jpg");
    width: 100%;
    height: 200px;
}

.banner-principal p {
    font-size: 70px;
    color: white;
}

.banner-description {
    font-size: 30px;
    color: white;
}



.banner-logo-sinfondo {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    width: 100%;
    height: 65%;
    z-index: 3;
}

    .banner-logo-sinfondo img {
        height: 100%;
        display: block;
        margin: 0 auto;
    }

.banner-principal {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("imagenes/fondo-horizontal-sinlogo.jpg");
}

.banner-container-cajita {
    width: 35%;
    margin: 10px auto;
}

.slogan {
    background-color: black;
}

.banner-container-cajita p {
    text-align: center;
    font-family: 'PT Serif';
    top: 50%;
    color: white;
}

.button-banner-pos {
    width: 100%;
    margin: 45px auto 0;
    max-width: 220px;
}

.button-banner:hover {
    color: #eac80f;
    text-decoration: none;
    border: 1px solid #fff;
}


.title-about-us {
    color: white;
}


.about-description {
    text-align: center;
    color: #ff9900;
    font-size: 18px;
    width: 40%;
}

.about-us {
    background-image: url("imagenes/trabajos-matias/trabajosmas/mati-mural-logo.jpg");
    background-position: center center;
    background-size: cover;
    height: 131%;
    position: relative;
}

.about-description p {
    padding: 10px;
    color: white;
}

.about-description b {
    font-size: 21px;
}

.about-img {
    background-image: url("imagenes/matias-morantte-hd.jpg");
    background-size: cover;
    background-position: center center;
    height: 350px;
    width: 54%;
    border-radius: 5px;
}



.maquina-tattoo {
    background-image: url(imagenes/kisspng-tattoo-machine-tattoo.png);
    width: 129%;
    left: -21%;
    height: 86%;
    position: relative;
    background-size: cover;
}



.title {
    color: gray;
    padding: 15px 15px;
    margin-bottom: 30px;
    font-size: 52px;
    text-align: center;
    font-family: 'PT Serif';
}

.description {
    font-size: 20px;
    margin: auto auto;
    width: 75%;
    text-align: center;
    padding: 10px 10px;
    font-family: 'PT Serif';
}

.container-four {
    width: 83%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 35px auto;
    transition: all .2s ease-in-out;
}




.hover1:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.hover2:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.hover3:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.hover4:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}



.container-three {
    width: 75%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    height: 200px;
}

.container-three-ubication {
    width: 75%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    height: 200px;
}

.container-three-about-us {
    width: 75%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    height: 100%;
}

    .container-three-about-us p {
        padding-left: 10px;
        color: #88816b;
        font-size: 40px;
        border-left: 5px solid gray;
    }

.container-two {
    width: 66%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto auto;
    position: relative;
    height: 50%;
    z-index: 9;
}

.button-banner {
    -moz-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow: inset 0px 1px 3px 0px #91b8b3;
    box-shadow: inset 0px 1px 3px 0px #91b8b3;
    background-color: transparent;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 8px;
    border: 1px solid #eac80f;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 11px 23px;
    text-shadow: 0px -1px 0px #2b665e;
    width: 100%;
    text-align: center;
}

    .button-banner:hover {
        text-decoration: none;
    }

.header-menucala {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    position: relative;
    z-index: 9999;
}

    .header-menucala li,
    .header-menucala ul li {
        list-style: none;
    }

        .header-menucala li a {
            color: white;
        }

            .header-menucala li a:hover {
                opacity: 0.2;
            }

a:hover, a:focus {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    //tablet
}

@media screen and (max-width: 720px) {
    //a 320 es mobile

    .container-two {
        width: 66%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        margin: auto auto;
        position: relative;
        height: 30%;
        z-index: 9;
    }


    .mobile-mov {
        display: block;
    }

    .mobile-mp4 {
        display: none;
    }


    .maquina-tattoo {
        display: none;
    }

    .footer p {
        margin: 0 auto;
        text-align: center;
    }

    .container-inside-four {
        width: 100%;
        text-align: center;
    }

    .container-four {
        flex-direction: column;
    }

    .porfolio-menu {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .container-two {
        //display: none;
        flex-direction: column;
        margin: 0 auto;
        top: 17%;
    }

    .divaboutus {
        font-size: 14px;
    }

    .about-us {
        height: auto;
    }

    .container-three-about-us div p {
        font-size: 20px;
    }


    .about-description {
        display: none;
    }


    .container-three-ubication {
        flex-direction: column;
        height: auto;
    }

        .container-three-ubication img {
            width: 40px;
            height: auto;
            margin-bottom: 10px;
        }

        .container-three-ubication div {
            width: 100%;
            margin: 0 auto 15px;
            text-align: center;
        }

    .aparece {
        opacity: 1;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

        .footer img {
            width: 20%;
            height: auto;
        }

    .porfolio-item .item {
        width: 50%;
        margin-bottom: 5px;
    }

        .porfolio-item .item img {
            //height: 311px;
            height: auto;
            width: 100%;
            padding: 2px 0px 0px 6px;
        }


    .artist-container img {
        margin-top: 0;
        height: auto;
        width: 110%;
    }

    .container-inside-three {
        width: 100%;
        text-align: center;
    }

    .artist-img-2 {
        height: auto;
        margin-bottom: 20px;
    }


    .artist-description {
        top: inherit;
        bottom: 0;
        width: 130px;
        font-style: italic;
    }



    .artist-marmol {
        height: auto;
        background-size: cover;
        background-position: center center;
    }



    .container-three {
        height: auto;
        flex-direction: column;
    }


    .banner-logo-sinfondo img {
        height: 120%;
        display: block;
        margin: 0 auto;
    }

    .banner-principal {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 30vh;
        position: relative;
        background-image: url(imagenes/fondo-horizontal-sinlogo.jpg);
    }

    .banner-container-cajita .banner-bajada2 i {
        font-size: 25px;
    }

    .banner-container-cajita .banner-bajada {
        font-size: 40px;
    }
}

@media screen and (max-width: 480px) {

    .banner-container-cajita {
        width: auto;
    }

    .cover-ico {
        margin: auto auto;
        background-image: url("imagenes/tinta-real.jpg");
        width: 13%;
        background-size: cover;
        height: 109px;
    }

    .container-three-about-us {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        margin: auto auto;
        height: 100%;
    }


    .container-two {
        width: 66%;
        align-items: center;
        justify-content: space-between;
        display: flex;
        flex-direction: row;
        margin: auto auto;
        position: relative;
        height: 41%;
        z-index: 9;
    }


    .mobile-mov {
        display: block;
    }

    .mobile-mp4 {
        display: none;
    }


    .maquina-tattoo {
        display: none;
    }

    .footer p {
        margin: 0 auto;
        text-align: center;
    }

    .container-inside-four {
        width: 100%;
        text-align: center;
    }

    .container-four {
        flex-direction: column;
    }

    .porfolio-menu {
        text-align: center;
        padding: 10px;
        width: 100%;
    }

    .container-two {
        //display: none;
        flex-direction: column;
        margin: 0 auto;
        top: 17%;
    }

    .divaboutus {
        font-size: 14px;
    }

    .about-us {
        height: auto;
    }

    .container-three-about-us div p {
        font-size: 20px;
    }


    .about-description {
        display: none;
    }


    .container-three-ubication {
        flex-direction: column;
        height: auto;
    }

        .container-three-ubication img {
            width: 40px;
            height: auto;
            margin-bottom: 10px;
        }

        .container-three-ubication div {
            width: 100%;
            margin: 0 auto 15px;
            text-align: center;
        }

    .aparece {
        opacity: 1;
    }

    .footer {
        flex-direction: column;
        height: auto;
    }

        .footer img {
            width: 20%;
            height: auto;
        }

    .porfolio-item .item {
        width: 50%;
        margin-bottom: 5px;
    }

        .porfolio-item .item img {
            //height: 311px;
            height: auto;
            width: 100%;
            padding: 2px 0px 0px 6px;
        }


    .container-inside-three {
        width: 100%;
        text-align: center;
    }

    .artist-img-2 {
        height: auto;
        margin-bottom: 20px;
    }




    .artist-marmol {
        height: auto;
        background-size: cover;
        background-position: center center;
    }

    .container-three {
        height: auto;
        flex-direction: column;
    }


    .banner-logo-sinfondo img {
        height: 120%;
        display: block;
        margin: 0 auto;
    }

    .banner-principal {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        width: 100%;
        height: 30vh;
        position: relative;
        background-image: url(imagenes/fondo-horizontal-sinlogo.jpg);
    }

    .banner-container-cajita .banner-bajada2 i {
        font-size: 22px;
    }

    .banner-container-cajita .banner-bajada {
        font-size: 40px;
    }

    .social-network {
        padding-top: 35px;
    }

        .social-network a {
            text-decoration: none !important;
            color: white;
        }


    .footer .social-network img {
        height: auto;
        width: 34px;
    }
}

