@{
    ViewBag.Title = "Home Page";
    Layout = null;

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta name="viewport" content="width=device-width" />

    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lacquer|Odibee+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="109830660865692"
         logged_in_greeting="Hola, reserva tu turno!."
         logged_out_greeting="Hola, reserva tu turno!.">
    </div>


    <div class="banner-principal">
        <div class="overlay"></div>

        <div class="video-player">
            <video class="mobile-mp4" onloadedmetadata="this.muted=true" autoplay muted="muted" loop>
                <source src="Content/imagenes/slow-tattoo-video.mp4" type="video/mp4" />
            </video>

            <video class="mobile-mov" onloadedmetadata="this.muted=true" autoplay muted="muted" loop>
                <source src="Content/imagenes/slow-tattoo-video.mp4" type="video/mp4" />
            </video>

        </div>

        <div class="navbara navbar-inversea navbar-fixed-topa header-menucala">
            <div class="container" id="menu-fixed">
                <div class="navbar-collapse collapse">
                    <ul class="nava navbar-nava header-menucala">
                        <li><a class="path" href="#1">MORANTE TATTOO STUDIO</a></li>
                        <li><a class="path" href="#2">LO QUE HACEMOS</a></li>
                        <li><a class="path" href="#3">NOSOTROS</a></li>
                        <li><a class="path" href="#4">TRABAJOS</a></li>
                        <li><a class="path" href="#5">NUESTROS ARTISTAS</a></li>
                        <li><a class="path" href="#6">COMO LLEGAR</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div  class="banner-logo-sinfondo">
            <img src="Content/imagenes/logo-pro-pluma-nofondo.png"  alt="Logo - Morante" />
        </div>
    </div>

    @**slogan*@
    <div id="1" class="container-gral slogan">
        <div class="banner-container-cajita">


            <p class="banner-bajada"><i>Good Tattoo is...</i></p>
            <p class="banner-bajada2"><i>an Extension of the <br>Character and Your <br>State of Soul</i></p>



            <div class="button-banner-pos">

                <a class="button-banner" href="https://wa.me/5491169297777" target="_blank">RESERVA TU TURNO</a>
            </div>

        </div>
    </div>

    @*QUE ES LO QUE HACEMOS*@
    <div id="2" class="container-gral">
        <div class="container-maquinaflota aparece">
            @*<div class="maquina-tattoo"></div>*@
        </div>
        <div>
            <p class="title">Lo que hacemos</p>
        </div>
        <div>
            <p class="description">
                Nuestra misión es brindarle arte de tatuajes original y de calidad utilizando técnicas avanzadas de esterilización, producidas en un ambiente cómodo y seguro por profesionales.
            </p>
        </div>

        <div class="container-four">

            <div class="container-inside-four">
                <div class="maquina-ico hover1 aparece"></div>
                <h2>Tattoos</h2>
                <p>Combinamos técnicas modernas con algunas tradicionales para obtener resultados brillantes</p>

            </div>

            <div class="container-inside-four">
                <div class="pircing-ico hover2 aparece"></div>
                <h2>Piercings</h2>
                <p>Queres algunos agujeros extras en tu cuerpo? Nuestros maestros pueden ayudarte</p>

            </div>

            <div class="container-inside-four">
                <div class="cover-ico hover3 aparece"></div>
                <h2>Cover</h2>
                <p>Tenes tatuajes viejos para tapar? Nuestros talentosos artistas pueden cubrirlos.</p>

            </div>

            <div class="container-inside-four">
                <div class="desing-ico hover4 aparece"></div>
                <h2>Tattoo Design</h2>
                <p>Nada puede superar el desafío de crear un diseño que inicialmente solo está en tu imaginación</p>

            </div>

        </div>

    </div>

    @*SOBRE NOSOTROS*@
    <div id="1">
        <p class="title title-about-us" style="color:black;">Sobre Nosotros</p>
    </div>

    <div id="3" class="container-gral about-us">
        
        <div class="overlay"></div>

    </div>


    @*NUESTROS TRABAJOS*@
    <div id="4" class="container-gral">
        <div>
            <p class="title">Nuestros trabajos</p>
        </div>
        @*<div class="image-gallery"></div>*@

        <div class="porfolio-menu">
            <ul>
                <li class="active" data-filter="*">Todos</li>
                <li data-filter=".web">Matias</li>
                <li data-filter=".seo">Marcos</li>
                @*<li data-filter=".graphics">Richard</li>*@
            </ul>
        </div>
        <div class="porfolio-item">
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-1.jpg" alt="Alternate Text" />
            </div>
            <div class="item graphics">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-5.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-2.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/nave-espacial-starwars.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-1.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-2.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-3.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-4.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-3.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-4.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-5.jpg" alt="Alternate Text" />
            </div>
            <div class="item graphics">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-3.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-6.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-7.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-8.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-5.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-9.jpeg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-6.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-10.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-11.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-12.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-13.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-7.jpg" alt="Alternate Text" />
            </div>
            <div class="item seo">
                <img src="Content/imagenes/trabajos-marcos/optimizadas/marcos-9.jpg" alt="Alternate Text" />
            </div>
            <div class="item web">
                <img src="Content/imagenes/trabajos-matias/optimizadas-ig/matias-tattoo-14.jpg" alt="Alternate Text" />
            </div>

        </div>

    </div>

    @*NUESTROS ARTISTAS*@
    <div class="container-gral">
        
        <div id="fondo-negro">
            <div id="calaquita">
                <img src="Content/imagenes/calavera-rota.jpg" />
            </div>
            <div id="calaquita2">
                <img src="Content/imagenes/calavera-rota.jpg" />
            </div>
            <div class="artist-marmol">
                <div id="5">
                    <p class="title" style="color:white;">Nuestros artistas</p>
                </div>
                <div>
                    <p class=" description" style="color:white;">
                        Nuestro equipo de tatuadores representa la verdadera profesionalidad y dedicación en todo lo que concierne a los tatuajes duraderos y de alta calidad.
                    </p>
                </div>
                <div class="container-two">

                    <div class="container-inside-two">
                        <div class="artist-container">
                            <img src="Content/imagenes/trabajos-matias/trabajosmas/mati-mural.jpg" alt="Alternate Text">
                            <div class="artist-img-2"></div>
                            <div class="artist-description">
                                <b>Matias Morante</b>


                            </div>
                        </div>
                    </div>
                    <div class="container-inside-two">
                        <div class="artist-container">
                            <img src="Content/imagenes/marcos-kimo.jpg" alt="Alternate Text">
                            <div class="artist-img-2"></div>
                            <div class="artist-description">
                                <b>Marcos kimosabi</b>


                            </div>
                        </div>
                    </div>

                </div>



            </div>
        </div>
        
    </div>

    @*COMO LLEGAR*@
    <div class="container-gral">
        <div class="title" id="5"> Como llegar </div>

        <div class="containaer-two">
            <div class="ubication"></div>
            @*<div style="text-align:center">
                    Av. Pdte Hipolito Yrigoyen 10151. Temperley.Buenos Aires-Argentina.
                    Atendemos de lunes a sábado de 10 a 20hs. -matias_morante
                    wa.me/5491169297777
                </div>*@
        </div>
    </div>

    <div id="6" class="container-gral">
        @*<div class="title"> CONTACTO </div>*@

        <div class="container-three-ubication">
            <div>
                <img src="Content/imagenes/mail-ico.png" alt="Alternate Text" />
                <p>
                    <b>Correo</b>
                </p>
                <p>
                    <a class="mailmora" href="mailto:morantetattoo@hotmail.com">morantetattoo@hotmail.com</a>

                </p>
            </div>
            <div>
                <img src="Content/imagenes/ubication-ico.png" alt="Alternate Text" />
                <p>Sucursal Lomas de Zamora</p>
                <p> <b>Dirección: </b> Av. Pres. Hipólito Yrigoyen 10151, B1834 Temperley, Buenos Aires</p>
            </div>
            <div>
                <img src="Content/imagenes/tel-ico.png" alt="Alternate Text" />
                <p>
                    <b>Teléfono:</b>
                </p>
                <p>
                    <a class="mailmora" href="tel:+0111569297777">011 15-6929-7777</a>
                </p>
            </div>
        </div>
    </div>

    <div id="whatsapp-icon" style="position:fixed; right:10px; bottom:10px; text-align:center; padding:3px">
        <a href="https://api.whatsapp.com/send?phone=+0111569297777">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/240px-WhatsApp.svg.png" width="50" height="50">
        </a>
    </div>

    <div class="footer">

        <img src="Content/imagenes/logo-pro-pluma-nofondo.png" alt="Logo - Morante" />
        <p><b>&copy;2020 Morante Tattoo </b>Todos los derechos reservados</p>
        <div class="social-network">

            <img src="Content/imagenes/logo-insta.png" alt="Alternate Text" />
            <a href="https://www.instagram.com/morantetattoostudio/?hl=es-la">@@morantetattoostudio</a>
            <br />
            <img src="Content/imagenes/logo-facebook.png" alt="Alternate Text" />
            <a href="https://www.facebook.com/morantetattoostudio/">/morantetattoostudio</a>
        </div>

    </div>

    @*Filtro y acomodador de imagen*@

    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script>
        //Suavizado de scroll y anclas
        $(document).ready(function () {
            $('a[href^="#"]').click(function () {
                var destino = $(this.hash);
                if (destino.length == 0) {
                    destino = $('a[name="' + this.hash.substr(1) + '"]');
                }
                if (destino.length == 0) {
                    destino = $('html');
                }
                $('html, body').animate({ scrollTop: destino.offset().top }, 500);
                return false;
            });
        });

        $(".ubication").click(function () {

            window.location = "https://g.page/morante-tattoo-studio-temperley?share";


        });

        //Tatuadores json dinamico.
        //$.ajax({
        //    //data:
        //    type: "GET",
        //    dataType: "json",
        //    url: "Content/imagenes/galery.json"
        //})
        //    .done(function (data) {

        //        var galleryDinamyc = '';

        //        $.each(data.jsonPhotos, function (i, item) {
        //            galleryDinamyc += '<div class="container-inside-three"> <div class="artist-container"><img src="' + item.url + '" alt="Alternate Text" /><div class="artist-img-2"></div><div class="artist-description">                        <b>"' + item.title + '"</b>                        <p>Estilos: "' + item.description + '"</p>                        <a href="#">content</a>                    </div>                </div>            </div>';

        //        });

        //        //for (var i = 0; i < data.length(); i++) {
        //        //    galleryDinamyc += '<div class="container-inside-three"> <div class="artist-container"><img src="'+data.url+'" alt="Alternate Text" /><div class="artist-img-2"></div><div class="artist-description">                        <b>"'+data.title+'"</b>                        <p>Estilos: "'+data.description+'"</p>                        <a href="#">content</a>                    </div>                </div>            </div>';
        //        //}

        //        $(".container-three").html(galleryDinamyc);
        //    });


        $(".profolio-item").isotope({
            itemSelector: '.item',
            layoutMode: 'fitRows'
        });

        $(".porfolio-menu ul li").click(function () {

            $('.porfolio-menu ul li').removeClass('active');
            $(this).addClass('active');

            var selector = $(this).attr('data-filter');

            $('.porfolio-item').isotope({
                filter: selector
            });
            return false;


        });


        $(window).scroll(function (event) {

            var yy = $(this).scrollTop();

            if (yy > 500) {
                $('#menu-fixed').addClass('animate');
                $('#menu-fixed').addClass('menu-fixed-scroll');
                $('#calaquita').addClass('animacion-calaveras');
                $('#calaquita2').addClass('animacion-calaveras2');
            }
            if (yy < 150) {

                $('#menu-fixed').removeClass('animate');
                $('#menu-fixed').removeClass('menu-fixed-scroll');
            }

        });



    </script>


    


    @*Elementos aparecen opacity*@
    <script>
        function aparece() {

            var html = document.getElementsByTagName("body")[0];
            var elementoAparece = document.getElementsByClassName("aparece");

            document.addEventListener("wheel", function () {

                var topVent = html.scrollTop;

                for (var i = 0; i < elementoAparece.length; i++) {

                    var topelemAparece = elementoAparece[i].offsetTop;

                    if (topVent > topelemAparece - 600) {
                        elementoAparece[i].style.opacity = 1;
                    }
                }


            });

        }



        $(document).ready(function () {
            aparece();

            $(window).scroll(function (event) {

                var y = $(this).scrollTop();

                if (y >= 300) {
                    $('').addClass('animate');
                }

            });

        });
    </script>
</body>
</html>

